@font-face {
    font-family: font;
    src: url("../font.otf") format("opentype");
}

body{
	color: rgb(255, 255, 255);
	font-family: font;
    margin: 0;
	background: rgb(31,31,31);
	background: linear-gradient(0deg, rgba(31,31,31,1) 0%, rgba(76,74,74,1) 100%);
}

header{
	width: 100%;
	display: flex;
	height: 300px;
	justify-content: space-around;
}

.logo{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 300px;
	padding: 30px 0px;
}

.logo .title{
	font-size: 80px;
	text-shadow: 1px 1px 10px black;
	-webkit-text-stroke: 0.5px black;
}

.logo .logo-circle{
	width: 90px;
	height: 90px;
	position: absolute;
	background-color: white;
	border-radius: 50%;
	z-index: 1;
	box-shadow: 0px 0px 60px white;
}

.logo-title{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100%;
	position: absolute;
	z-index: 2;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.logo-title {
		backdrop-filter: blur(15px);
	}
  }

.title-desc{
	font-size: 30px;
	font-weight: 100;
	text-shadow: 1px 1px 10px black;
}

.desc{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	letter-spacing: 2px;
	text-shadow: 1px 1px 5px black;
}

.desc-2{
	font-size: 30px;
}

.desc-3{
	text-align: left;
	font-size: 23px;
}

.contacts{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contacts-desc{
	font-size: 30px;
}

.contacts-icons{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.contacts-icons svg{
	width: 50px;
	height: 50px;
}

.contacts-tel{
	padding: 10px 30px;
	background: white;
	color:rgba(31,31,31,1);
	display: flex;
	align-items: center;
	font-size: 25px;
	border-radius: 30px;
	gap: 10px;
	cursor: pointer;
	filter: opacity(0.8);
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.contacts-tel svg{
	width: 30px;
	height: 30px;
}

.flowers, .compositions, .dirtflowers, .customs{
	display: flex;
	width: 100%;
	height: 400px;
	justify-content: center;
	gap: 5%;
	margin-top: 50px;
}

.flowers-photos{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	column-gap: 15px;
	row-gap: 10px;
	width: 40%;
	height: 100%;
}

.flowers-photo{
	border-radius: 20px;
	background-position: center;
	background-size: 100%;
	transition: all 0.3s;
	background-repeat: no-repeat;
}

.flowers-photo:nth-of-type(1) {
	grid-column: 1 / 3;
	grid-row: 1 / 4;
	background-image: url("../images/11.png");
}
.flowers-photo:nth-of-type(2) {
	grid-column: 3;
	grid-row: 1;
	background-image: url("../images/12.png");
}
.flowers-photo:nth-of-type(3) {
	grid-column: 4;
	grid-row: 1;
	background-image: url("../images/13.png");
}
.flowers-photo:nth-of-type(4) {
	grid-column: 3;
	grid-row: 2;
	background-image: url("../images/14.png");
}
.flowers-photo:nth-of-type(5) {
	grid-column: 4;
	grid-row: 2;
	background-image: url("../images/15.png");
}
.flowers-photo:nth-of-type(6) {
	grid-column: 3;
	grid-row: 3;
	background-image: url("../images/16.png");
}
.flowers-photo:nth-of-type(7) {
	grid-column: 4;
	grid-row: 3;
	background-image: url("../images/17.png");
}

.desc-elem{
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.desc-elem span:nth-of-type(1){
	font-size: 60px;
	text-align: center;
	width: 100%;
	letter-spacing: 10px;
}

.desc-elem span:nth-of-type(2){
	font-size: 30px;
	font-family: font, 'Arial';
	text-align: left;
	line-height: 2em;
	letter-spacing: 2px;
}

.compositions-photos{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, 1fr);
	width: 40%;
	height: 100%;
	column-gap: 15px;
	row-gap: 10px;
}

.compositions-photo{
	border-radius: 20px;
	background-position: cover;
	background-size: 100%;
	transition: all 0.3s;
	background-repeat: no-repeat;
}

.compositions-photo:nth-of-type(1) {
	grid-column: 1 / 5;
	grid-row: 1 / 4;
	background-image: url("../images/21.png");
}
.compositions-photo:nth-of-type(2) {
	grid-column: 5 / 9;
	grid-row: 1 / 4;
	background-image: url("../images/22.png");
}
.compositions-photo:nth-of-type(3) {
	grid-column: 9 / 13;
	grid-row: 1 / 4;
	background-image: url("../images/23.png");
}
.compositions-photo:nth-of-type(4) {
	grid-column: 1 / 4;
	grid-row: 4 / 6;
	background-image: url("../images/24.png");
}
.compositions-photo:nth-of-type(5) {
	grid-column: 4 / 7;
	grid-row: 4 / 6;
	background-image: url("../images/25.png");
}
.compositions-photo:nth-of-type(6) {
	grid-column: 7 / 10;
	grid-row: 4 / 6;
	background-image: url("../images/26.png");
}
.compositions-photo:nth-of-type(7) {
	grid-column: 10 / 13;
	grid-row: 4 / 6;
	background-image: url("../images/27.png");
}

.dirtflowers-photos{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	width: 45%;
	height: 100%;
	column-gap: 15px;
	row-gap: 10px;
}

.dirtflowers-photo{
	border-radius: 20px;
	background-position: center;
	background-size: 100%;
	transition: all 0.3s;
	background-repeat: no-repeat;
}

.dirtflowers-photo:nth-of-type(1) {
	grid-column: 1;
	grid-row: 1;
	background-image: url("../images/31.png");
}
.dirtflowers-photo:nth-of-type(2) {
	grid-column: 2;
	grid-row: 1;
	background-image: url("../images/32.png");
}
.dirtflowers-photo:nth-of-type(3) {
	grid-column: 3;
	grid-row: 1;
	background-image: url("../images/36.png");
}
.dirtflowers-photo:nth-of-type(4) {
	grid-column: 1;
	grid-row: 2;
	background-image: url("../images/34.png");
}
.dirtflowers-photo:nth-of-type(5) {
	grid-column: 2;
	grid-row: 2;
	background-image: url("../images/35.png");
}
.dirtflowers-photo:nth-of-type(6) {
	grid-column: 3;
	grid-row: 2;
	background-image: url("../images/37.jpg");
}

.customs-photos{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);
	width: 40%;
	height: 100%;
	column-gap: 15px;
	row-gap: 10px;
}

.customs-photo{
	border-radius: 20px;
	background-position: center;
	background-size: 100%;
	transition: all 0.3s;
	background-repeat: no-repeat;
}

.customs-photo:nth-of-type(1) {
	grid-column: 1;
	grid-row: 1 / 3;
	background-image: url("../images/41.png");
}
.customs-photo:nth-of-type(2) {
	grid-column: 2;
	grid-row: 1 / 3;
	background-image: url("../images/42.png");
}
.customs-photo:nth-of-type(3) {
	grid-column: 3;
	grid-row: 1 / 3;
	background-image: url("../images/46.jpg");
	background-position: top;
}
.customs-photo:nth-of-type(4) {
	grid-column: 1;
	grid-row: 3 / 6;
	background-image: url("../images/43.png");
}
.customs-photo:nth-of-type(5) {
	grid-column: 2;
	grid-row: 3 / 6;
	background-image: url("../images/47.jpg");
}
.customs-photo:nth-of-type(6) {
	grid-column: 3;
	grid-row: 3 / 6;
	background-image: url("../images/45.jpg");
}

footer{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 300px;
}

footer .contacts-desc{
	font-size: 60px;
	letter-spacing: 2px;
}

footer .contacts-icons{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

footer .contacts-icons svg{
	width: 50px;
	height: 50px;
}

footer .contacts-tel{
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	display: flex;
	align-items: center;
	font-size: 25px;
	border-radius: 30px;
	gap: 10px;
	cursor: pointer;
	filter: opacity(0.8);
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.footer-address{
	font-size: 60px;
	display: flex;
	gap: 20px;
}

.footer-address{
	display: flex;
	align-items: center;
}

.footer-address a{
	border-radius: 10px;
	overflow: hidden;
	height: 150px;
	width: 150px;
}

.gis{
	height: 150px;
	width: 150px;
}

.fullscreen {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
    z-index: 999;
    pointer-events: none;
}

.overlay.active {
    background-color: rgba(0, 0, 0, 0.9);
    pointer-events: all;
}

