* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v0_460 {
  width: 100%;
  height: 2836px;
  background: linear-gradient(rgba(76,74,74,1), rgba(31,31,31,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_29 {
  width: 100%;
  height: 468px;
  background: url("../images/v27_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 152px;
  overflow: hidden;
}
.v1_23 {
  width: 736px;
  height: 468px;
  background: url("../images/v1_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_24 {
  width: 169px;
  height: 157px;
  background: url("../images/v1_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 383px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_25 {
  width: 167px;
  height: 157px;
  background: url("../images/v1_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 309px;
  left: 568px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_26 {
  width: 167px;
  height: 158px;
  background: url("../images/v1_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 568px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_27 {
  width: 369px;
  height: 468px;
  background: url("../images/v1_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_28 {
  width: 169px;
  height: 137px;
  background: url("../images/v1_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 566px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_29 {
  width: 169px;
  height: 157px;
  background: url("../images/v1_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 383px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_30 {
  width: 169px;
  height: 137px;
  background: url("../images/v1_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 383px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_31 {
  width: 311px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1032px;
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v1_32 {
  width: 827px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 119px;
  left: 787px;
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v27_28 {
  width: 100%;
  height: 466px;
  background: url("../images/v27_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 838px;
  left: 130px;
  overflow: hidden;
}
.v1_33 {
  width: 845px;
  height: 466px;
  background: url("../images/v1_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 815px;
  overflow: hidden;
}
.v1_36 {
  width: 214px;
  height: 183px;
  background: url("../images/v1_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_37 {
  width: 266px;
  height: 270px;
  background: url("../images/v1_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_38 {
  width: 198px;
  height: 183px;
  background: url("../images/v1_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 231px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_39 {
  width: 202px;
  height: 183px;
  background: url("../images/v1_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 447px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_40 {
  width: 253px;
  height: 270px;
  background: url("../images/v1_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 283px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_41 {
  width: 290px;
  height: 270px;
  background: url("../images/v1_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 554px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_42 {
  width: 176px;
  height: 183px;
  background: url("../images/v1_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 645px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_35 {
  width: 597px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 47px;
  left: 84px;
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v1_34 {
  width: 765px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 147px;
  left: 0px;
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v27_30 {
  width: 100%;
  height: 546px;
  background: url("../images/v27_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1349px;
  left: 183px;
  overflow: hidden;
}
.v1_43 {
  width: 842px;
  height: 546px;
  background: url("../images/v1_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_46 {
  width: 269px;
  height: 266px;
  background: url("../images/v1_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 572px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_47 {
  width: 269px;
  height: 266px;
  background: url("../images/v1_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 286px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_48 {
  width: 269px;
  height: 266px;
  background: url("../images/v1_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 572px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_49 {
  width: 269px;
  height: 266px;
  background: url("../images/v1_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_50 {
  width: 269px;
  height: 266px;
  background: url("../images/v1_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_51 {
  width: 269px;
  height: 266px;
  background: url("../images/v1_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 286px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_45 {
  width: 403px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 1031px;
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v1_44 {
  width: 661px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 131px;
  left: 892px;
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v27_31 {
  width: 100%;
  height: 546px;
  background: url("../images/v27_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1940px;
  left: 149px;
  overflow: hidden;
}
.v27_32 {
  width: 886px;
  height: 546px;
  background: url("../images/v27_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 734px;
  overflow: hidden;
}
.v1_55 {
  width: 433px;
  height: 268px;
  background: url("../images/v1_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_56 {
  width: 433px;
  height: 268px;
  background: url("../images/v1_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 452px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_57 {
  width: 433px;
  height: 267px;
  background: url("../images/v1_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_58 {
  width: 433px;
  height: 267px;
  background: url("../images/v1_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 452px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_54 {
  width: 598px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v1_52 {
  width: 622px;
  height: 279px;
  background: url("../images/v1_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 60px;
  overflow: hidden;
}
.v1_53 {
  width: 622px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_60 {
  width: 100%;
  height: 280px;
  background: rgba(44,40,40,1);
  opacity: 1;
  position: absolute;
  top: 2556px;
  left: 0px;
  overflow: hidden;
}
.v27_43 {
  width: 346px;
  height: 142px;
  background: url("../images/v27_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 74px;
  overflow: hidden;
}
.v27_44 {
  width: 141px;
  height: 141px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 103px;
  border-radius: 50%;
}
.v27_45 {
  width: 346px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 0px;
  border: 0.5px solid rgba(0,0,0,1);
}
.v27_46 {
  width: 257px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 44px;
  border: 0.10000000149011612px solid rgba(0,0,0,1);
}
.v27_34 {
  width: 353px;
  color: rgba(255,243,243,1);
  position: absolute;
  top: 47px;
  left: 1465px;
  font-family: Cormorant Infant;
  font-weight: SemiBold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v1_59 {
  width: 883px;
  color: rgba(255,243,243,1);
  position: absolute;
  top: 67px;
  left: 535px;
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v27_47 {
  width: 392px;
  color: rgba(255,243,243,1);
  position: absolute;
  top: 140px;
  left: 826px;
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v18_48 {
  width: 100%;
  height: 206px;
  background: url("../images/v18_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 106px;
  overflow: hidden;
}
.v1_93 {
  width: 346px;
  height: 142px;
  background: url("../images/v1_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 0px;
  overflow: hidden;
}
.v1_94 {
  width: 141px;
  height: 141px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 103px;
  border-radius: 50%;
}
.v1_95 {
  width: 346px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 0px;
  border: 0.5px solid rgba(0,0,0,1);
}
.v1_96 {
  width: 257px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 44px;
  border: 0.10000000149011612px solid rgba(0,0,0,1);
}
.v12_14 {
  width: 454px;
  height: 22px;
  background: url("../images/v12_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1253px;
  overflow: hidden;
}
.v12_15 {
  width: 454px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v12_28 {
  width: 280px;
  height: 25px;
  background: url("../images/v12_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 1339px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v12_30 {
  width: 250px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v12_45 {
  width: 787px;
  height: 206px;
  background: url("../images/v12_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 475px;
  overflow: hidden;
}
.v12_31 {
  width: 787px;
  height: 79px;
  background: url("../images/v12_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_32 {
  width: 628px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 79px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v12_33 {
  width: 787px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 47px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v12_35 {
  width: 412px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 150px;
  left: 147px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v12_36 {
  width: 390px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 117px;
  left: 150px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v12_37 {
  width: 439px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 183px;
  left: 150px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v12_38 {
  width: 559px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 84px;
  left: 147px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Atlantic Cruise(RUS BY LYAJKA);
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
